<div class="content-main">
	<div class="popup-content-wrapper">
		<div class="content-primary-details">Public Transit from SFO</div>
		<div class="content-secondary-details">
			Check the <a target="_blank" href="http://www.caltrain.com/">Caltrain</a> schedule to find the best train for your arrival time.  Check the timetable for "Baby Bullet" trains for much faster service due to fewer stops.  You must buy a ticket from the machines on the platform before getting on the train.  There are no ticket sales on board.
			<br/><br/>
			From SFO, get the <a target="_blank" href="http://www.samtrans.com/schedulesandmaps/timetables/Route_SFO.html">SamsTrans Route SFO</a> bus from the Terminal to the Millbrae Caltrain station.  Note that bus ticket fare must be paid in cash.  Ride the train south to the Palo Alto station.  The <%= link_to('hotel', accommodations_path, target:"_blank") %> is located across the street from the station.
		</div>
	</div>
</div>