<div class="content-main">
	<%= image_tag("airplane-image.jpg", class:"content-main-image") =%>
	<div class="main-content-wrapper">
		<div class="content-primary-details">Airports</div>
		<div class="content-secondary-details">Our wedding is located approximately 30 miles from both the San Francisco (SFO) and San Jose (SJC) airports.  For those traveling from the East Coast, San Francisco is a much larger airport where you will generally find more direct cross-country flights at better rates.  However for those traveling regionally, Southwest has a larger presence at San Jose.</div>
		<br class="content-secondary-details"/>
		<div class="content-primary-details">Ground Transportation</div>
		<div class="content-secondary-details">Unfortunately many sightseeing oportunities in the Bay Area will require a car rental.  However for those looking to do the weekend car-free, we will update this section with the best transit options once we determine the location of the <%= link_to('hotel', accommodations_path) %>.</div>
	</div>
</div>