<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Samantha Nano & Chris Mathew</title>
<link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen">
<script src="javascripts/jquery-1.7.1.min.js"></script>
</head>
<header></header>

<body>

<div class="coming-soon main">
<div class="coming-soon-title">
	Coming Soon!
</div>
<div class="coming-soon-detail">
	Check back later for more information.
</div>
</div>

<script>
$(function(){
  $("header").load("header.html");  
});
</script>
</body>
</html>
