<div class="content-main">
	<%= image_tag("airplane-image.jpg", class:"content-main-image") =%>
	<div class="main-content-wrapper">
		<div class="content-primary-details">Airports</div>
		<div class="content-secondary-details">The wedding <%= link_to('hotel', accommodations_path) %> is located 22 miles from the San Francisco (SFO) airport and 17 miles from the San Jose (SJC) airport.  For those traveling from the East Coast, San Francisco is a much larger airport where you will generally find more direct cross-country flights at better rates.  However for those traveling regionally, Southwest has a larger presence at San Jose.</div>
		<br class="content-secondary-details"/>
		<div class="content-primary-details">Ground Transportation</div>
		<div class="content-secondary-details">Unfortunately many sightseeing oportunities in the Bay Area will require a car rental.  However for those looking to do the weekend car-free, the hotel is located across the street from a train station making it accessible by public transit.  Note that if you are traveling on the weekend or Monday (which is Labor Day), the train will be running <a target="_blank" href="http://www.caltrain.com/schedules.html">infrequently</a> and you may prefer to use Uber or Lyft.  Click <a href="javascript:window.open('<%= ground_transportation_sfo_path%>', 'Public Transit from SFO', 'width=400,height=500')">here</a> for public transit directions from SFO or here for SJC.</div>
	</div>
</div>