<div class="content-main">
	<div class="main-content-wrapper">
		<%= image_tag("sheraton.jpg", class:"content-main-image") =%>
		<h1>Sheraton Palo Alto</h1>
		<div class="content-secondary-details">
			<a target="_blank" href="https://goo.gl/maps/J4T6PBBtiBN2" class="content-link">
				625 El Camino Real
				<br/>
				Palo Alto, CA 94301
			</a>
			<br/><br/>
			We have reserved a block of rooms at the Sheraton Palo Alto with a group discount rate of $139/nt (plus taxes and fees).  To book a room in the block, call the hotel (1-800-325-3535) and mention the Nano/Mathew Wedding or book online using the link below: 
			<br/><br/>
			<a target="_blank" href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1554840033934&key=GRP&app=resvlink">Book Your Room</a>
			<br/><br/>
			<b>The group rate will expire on July 31, so make sure to book your room early!</b>
		</div>
	</div>
</div>