<div class="content-main">
	<div class="popup-content-wrapper">
		<h2>Public Transit from SJC</h2>
		<div class="content-secondary-details">
			Check the <a target="_blank" href="http://www.caltrain.com/">Caltrain</a> schedule to find the best train for your arrival time.  You must buy a ticket from the machines on the platform before getting on the train.  There are no ticket sales on board.
			<br/><br/>
			From SJC, get the free<a target="_blank" href="http://www.vta.org/routes/rt10">VTA Airport Flyer</a> bus from the terminal to the Santa Clara Caltrain Station.  Ride the train north to the Palo Alto station.  In Palo Alto, find the ramp under the tracks to the southbound platform.  The <%= link_to('hotel', accommodations_path, target:"_blank") %> is located across the street from the southbound platform.
		</div>
	</div>
</div>