<div id="wedding-main">
	<%= image_tag("wedding-header-image.png", id:"wedding-main-image") =%>
	<div id="wedding-details-wrapper">
		<div class="wedding-primary-details">Sunday, September 1, 2019 5:00 PM</div>
		<div id="wedding-details-address-wrapper">
			<a href="https://goo.gl/maps/EZrCa6svXQk" target="_blank" id="wedding-details-address-link">
				<div class="wedding-primary-details">The Mountain Terrace</div>
				<div class="wedding-details-secondary">17285 Skyline Blvd</div>
				<div class="wedding-details-secondary">Woodside, CA</div>
			</a>
		</div>
		<br class="wedding-details-secondary"/>
		<div class="wedding-details-secondary">Attire: Cocktail</div>
		<div class="wedding-details-secondary">Ceremony will begin at 5:00 pm.  Cocktails, dinner, and dancing to follow.  All events will take place at The Mountain Terrace.<div>
	</div>
</div>