<div class="content-main">
	<%= image_tag("wedding-header-image.png", class:"content-main-image") =%>
	<div class="main-content-wrapper">
		<div class="content-primary-details">Sunday, September 1, 2019 5:00 PM</div>
		<div id="wedding-details-address-wrapper">
			<a href="https://goo.gl/maps/EZrCa6svXQk" target="_blank" class="content-link">
				<div class="content-primary-details">The Mountain Terrace</div>
				<div class="content-secondary-details">17285 Skyline Blvd</div>
				<div class="content-secondary-details">Woodside, CA</div>
			</a>
		</div>
		<br class="content-secondary-details"/>
		<div class="content-secondary-details">Attire: Cocktail</div>
		<div class="content-secondary-details">Ceremony will begin at 5:00 pm.  Cocktails, dinner, and dancing to follow.  All events will take place at The Mountain Terrace.<div>
	</div>
</div>