<div class="content-main">
	<%= image_tag("golden-gate-bridge.jpg", class:"content-main-image") =%>
	<div class="main-content-wrapper" id="sightseeing-content-wrapper">
		<div class="content-title" id="sightseeing-title">San Francisco</div>
		<div class="sightseeing-section-wrapper">
			<div class="content-secondary-details">
			San Francisco has too many great sights and resturants to name, but to get you started, here are a few of Chris and Sam's favorite spots.  Even in the summer, San Francisco is often cold and windy (even when its warm on The Pennisula), so make sure to bring a jacket!  Note that like many big cities, parking in San Francisco can be hard to find and expensive.  We recommend either scouting out and reserving a parking spot in advance with <a href="https://spothero.com/" target="_blank">SpotHero</a>, or leaving your car behind and taking <a href="javascript:window.open('<%= sightseeing_sf_public_transit_path%>', 'Public Transit to San Francisco', 'width=400,height=500')">public transit</a> to the city.
			</div>
			<br/>
			<a href="https://www.nps.gov/alca/index.htm" target="_blank" class="content-primary-details content-link">Alcatraz</a>
			<div class="content-secondary-details">
				Tour the famous Alcatraz Prison.  You ticket include the boat ride from San Francisco to Alcatraz Island and a self-guided audio tour.  Note this is a very popular attraction with a limited number of tickets each day.  Tickets go on sale 90 days before your tour date and sell out well in advance, so you should plan on purchasing ticket in early June.
			</div>
			<br/>
			<a href="https://www.calacademy.org/" target="_blank" class="content-primary-details content-link">California Academy of Sciences</a>
			<div class="content-secondary-details">
				Located in Golden Gate Park, the California Academy of Sciences is a an aquarium, planetarium, and natural history museum focused on California's environment.  The museum is full or live animals and interactive exhibits.  Make sure to say hi to <a href="https://youtu.be/BURQgUYhRIY" target="_blank">Claude</a>, the albino Aligator!
			</div>
			<br/>
			<a href="https://www.mlb.com/giants" target="_blank" class="content-primary-details content-link">San Francisco Giants</a>
			<div class="content-secondary-details">
				Chris and Sam's favorite thing to do in San Francisco is to head to Oracle Park for a Giants game.  Sam is a lifelong fan and Chris proposed at a game.  For the full experience make sure to try the garlic fries and Ghirardelli ice cream sundae.  We find the View Reserve Infield seats have the best value for their price with the bonus of a incredible view of the Bay.  The park is located one block from the San Francisco Caltrain station and there are extra trains run after every game.
			</div>
		</div>
		<div class="content-title" id="sightseeing-title">Beaches</div>
		<div class="sightseeing-section-wrapper">
			<div class="content-secondary-details">
				Beaches are synonymous with California, but from the Penninsula, a little planning is required to ensure a good beach day.  There's a small mountain range separating the Penninsula from the coast, so you must traverse a winding mountain road to get there.  On warm summer days, beach traffic on these roads can be bad, so we recommend planning to leave the hotel before 9 am to get ahead of the crowd.  The mountains also protect the Pennisula from fog, so it is often 10-15 degrees colder at the beach.  Check the weather report before you go so there's no surprises.
			</div>
			<br/>
			<a href="https://goo.gl/maps/E1gVpVzUpSD2" target="_blank" class="content-primary-details content-link">Half Moon Bay</a>
			<div class="content-secondary-details">
				Half Moon Bay is a small coast side town 30 miles south of San Francisco.  Its know for the big wave surf destination, Mavericks Beach.  Fishing boats dock in the bay, so resturants here have a great selection of fresh fish.  <a href="http://www.barbarasfishtrap.com/" target="_blank">Barbara's Fishtrap</a> is one of Samantha's family's favorite spots for a fresh fish dinner.
			</div>
			<br/>
			<a href="https://goo.gl/maps/NgU1xLqrrB42" target="_blank" class="content-primary-details content-link">Santa Cruz</a>
			<div class="content-secondary-details">
				Located on the border of the Bay Area and Central Coast, Santa Cruz is a beach town that's still shows signs of California's hippie past. Check out the <a href="https://beachboardwalk.com/" target="_blank">Santa Cruz Beach Boardwalk</a>, an amusement park located along the beach.  Make sure to ride the Giant Dipper, a historic landmark that is frequently ranked as one of the best wooden rollercoasters in the world.
			</div>
		</div>
		<div class="content-title" id="sightseeing-title">Wineries</div>
		<div class="sightseeing-section-wrapper">
			<div class="content-secondary-details">
				California's most famous wineries are located in Napa and Sonoma countries, a two hour drive from our wedding.  However there's still some good wineries close by.  Here are a few of our favorite South Bay spots.
			</div>
			<br/>
			<a href="https://www.ridgewine.com/visit/monte-bello/" target="_blank" class="content-primary-details content-link">Ridge Vineyards</a>
			<div class="content-secondary-details">
				This aptly nameed winery is located at the top of mountain.  While the drive can be a bit treacherous, the view is worth it.  On a clear day you can see the bay to the east and the San Francisco skyline to the north (45 mi away!).  They have a large picnic area outside the tasting room, so pack a lunch and spend the afternoon soaking in the view while you enjoy your wine.
			</div>
			<br/>
			<a href="http://www.picchetti.com/" target="_blank" class="content-primary-details content-link">Picchetti Winery</a>
			<div class="content-secondary-details">
				If your not up for the drive to Ridge, Picchetti Winery is located on the same mountain as Ridge, but much lower down.  If you like to hike, the winery is located on an open space preserve with trail heads just behind the tasting room.  There are picnic tables available, so pack some snacks or lunch to enjoy with your wine.
			</div>
			<br/>
			<a href="https://www.jlohr.com" target="_blank" class="content-primary-details content-link">J. Lohr</a>
			<div class="content-secondary-details">
				If you would like a California wine tasting experience without leaving the city, J. Lohr has a tasting room just outside downtown San Jose.  Originally based in Monterey County, their grapes are mostly grown on California's central coast.
			</div>
		</div>
	</div>
</div>