<div class="content-main" style="text-align:left">
	<div class="main-content-wrapper">
		<div id="shuttle-details">
			<h1 class="transportation-title">Shuttle</h1>
			<div class="transportation-section-wrapper content-secondary-details">
				Shuttles will depart <a target="_blank" href="https://goo.gl/maps/J4T6PBBtiBN2" class="content-link">The Sheraton</a> at 4:00pm. You will arrive at <a target="_blank" href="https://goo.gl/maps/iPSKSW1jLqPs9WYq8" class="content-link">The Mountain Terrace</a> by 4:45pm. 
				<br>
				After the reception has ended at 10:00pm, shuttles will depart The Mountain Terrace. Arrive at The Sheraton by 10:45pm.

				<h2>Registration</h2>		
				Chris's aunt Rosanne will be taking headcount before the shuttle departs.
				If you've decided to ride, please <a target="_blank" href="https://www.surveymonkey.com/r/JB6R7N8">add your name to her list.</a>

				<h2>Boarding the shuttle</h2>
				If you are driving yourself to the shuttle pickup, you can park at <a target="_blank" href="https://www.marriott.com/hotels/maps/travel/sjcsi-sheraton-palo-alto-hotel/">The Sheraton for $2 per hour</a>. 
				<br>
				Other recommended parking options in Palo Alto include:
				<ul>
					<li>
						<a href="http://www.caltrain.com/stations/paloaltostation.html">Palo Alto Caltrain station</a>, $5.50 per day
					</li>
					<li>
						<a href="https://www.cityofpaloalto.org/gov/depts/pln/transit/parking/default.asp">Downtown Palo Alto</a>, various lots, free on weekends 
					</li>
				</ul>

				<h2>Gratuity</h2>		
				Driver gratuity is already paid. If you enjoyed the ride, please share your compliments with <a href="http://www.dscoach.com/contact.html">Destination Systems</a>. 
			</div>
		</div>

		<div id="driving-details">
			<h1 class="transportation-title">Driving</h1>
			<div class="transportation-section-wrapper content-secondary-details">
				Please see <a href="https://themountainterrace.com/contact-us/directions/">Mountain Terrace's website</a> for information about best routes to take by car.
				<br><br>
				Special note about traffic: <a href="http://kingsmountainartfair.org">The Kings Mountain Fair</a> is taking place on our wedding day. Venue staff recommends using the 84-Woodside Road route in order to avoid Skyline Boulevard.
			</div>
		</div>

		<div id="ride-share-details">
			<h1 class="transportation-title">Ride Share</h1>
			<div class="transportation-section-wrapper content-secondary-details">
				Please note that you may have difficulty hailing Uber/Lyft cars from the venue. Consider riding the <a href="#shuttle-details">shuttle</a> instead.
			</div>
		</div>
	</div>
</div>