<div class="content-main">
	<div class="main-content-wrapper">
		<h1 class="timeline-day-title">Saturday</h1>
		<ol class="day-timeline-content">
			<li class="timeline-event">
				<div class="timeline-event-title">
					<b>5:30 PM</b> - WELCOME DINNER
				</div>
				<div class="timeline-event-location">
					The Westin Palo Alto - Siena-Carrara Room
				</div>
				Invite Only. Family members are invited to join us for dinner.
			</li>
			<li class="timeline-event">
				<div class="timeline-event-title">
					<b>8:30 PM</b> - WELCOME DRINKS
				</div>
				<div class="timeline-event-location">
					Sheraton Bar
				</div>
				All guests are welcome to join us.
			</li>
		</ol>

		<h1 class="timeline-day-title">Sunday</h1>
		<ol class="day-timeline-content">
			<li class="timeline-event">
				<div class="timeline-event-title">
					<b>4 PM</b> - SHUTTLE BUSES DEPART TO VENUE
				</div>
				Meet in front of the Sheraton to catch the bus to The Mountain Terrace.
			</li>
			<li class="timeline-event">
				<div class="timeline-event-title">
					<b>5 PM</b> - CEREMONY BEGINS
				</div>
				<div class="timeline-event-location">
					The Mountain Terrace
				</div>
				Drinks, dinner, and dancing to follow.
			</li>
			<li class="timeline-event">
				<div class="timeline-event-title">
					<b>10 PM</b> - SHUTTLE BUSES DEPART FOR HOTEL
				</div>
				After the final song, meet in The Mountain Terrace parking lot to ride back to the Sheraton.
			</li>
		</ol>

		<h1 class="timeline-day-title">Monday</h1>
		<ol class="day-timeline-content">
			<li class="timeline-event">
				<div class="timeline-event-title">
					<b>9:30 AM</b> - BRUNCH
				</div>
				<div class="timeline-event-location">
					Sheraton Poolside Grill
				</div>
				Invite Only. Please bring the vouchers found in this welcome bag.
			</li>
		</ol>
	</div>
</div>