
<div class="photos-grid-wrapper">
	<div class="photos-grid">
		<% @photosArray.each_index do |photoIndex| %>
		<div class="photos-grid-photo-wrapper">
			<%= image_tag("#{@photosFolder}/#{@photosArray[photoIndex]}", class: "photos-grid-photo", onclick: "onImageClick(#{photoIndex})") %>
		</div>
		<% end %>
	</div>
</div>

<script type="text/javascript">

function onImageClick(index) {
	console.log("hello world");
}

</script>