/* Getting the new tags to behave */

@font-face {
	font-family: 'Josefin Sans';
	src: url('JosefinSans-Regular.ttf');
}

@font-face {
	font-family: 'Gluthen Bloots';
	src: url('guthen-bloots-personal-use.regular.ttf');
}

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, output, progress, section, source, video {
	display:block;
}
mark, rp, rt, ruby, summary, time {
	display:inline;
}
/* Global properties ======================================================== */
html {
	width:100%;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	color:#000;
	background:#8edfb4
}
.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}
#page3 {
	min-width:1034px;
}
.main {
	padding:0;
	margin:0 auto;
	font-size:14px;
	min-width: 1000px;
	min-width: max-content;
}
a {
	color:#1b1b68;
	outline:none;
}
a:hover {
	text-decoration:none;
}
.col-1, .col-2 {
	float:left;
}
.wrapper {
	width:100%;
	text-align: center;
}
.extra-wrap {
	overflow:hidden;
}
p {
	margin-bottom:18px;
}
.p1 {
	margin-bottom:8px;
}
.p2 {
	margin-bottom:15px !important;
}
.p3 {
	margin-bottom:30px !important;
}
.p4 {
	margin-bottom:40px;
}
.p5 {
	margin-bottom:50px;
}
.reg {
	text-transform:uppercase;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.alignright {
	text-align:right;
}
.aligncenter {
	text-align:center;
}
.it {
	font-style:italic;
}
.color-1 {
	color:#f00058;
}
.color-2 {
	color:#7c7c7c;
}
.img-border1 {
	float:left;
	padding:3px;
	background:#fff;
	border:1px solid #e5e5e5;
}

.content-main {
	width: 100%;
	height: 100%;
	text-align: center;
}

.main-content-wrapper {
	max-width: 894px;
	color: #1b1b68;
	margin: auto;
}

.content-title {
	font-family: 'Gluthen Bloots';
	font-size: 60px;
    padding: 30px 0px;
}

.content-primary-details {
	font-family: 'Gluthen Bloots';
	font-size:30px;
}

.content-secondary-details {
	font-family: 'Josefin Sans';
	font-size:18px;
}

/*********************************boxes**********************************/
.indent {
	padding:0 15px;
}
.indent-top {
	padding-top:5px;
}
.indent-left {
	padding-left:30px;
}
.indent-right {
	padding-right:35px;
}
.indent-bot {
	margin-bottom:20px;
}
.indent-bot2 {
	margin-bottom:18px;
}
.indent-bot3 {
	margin-bottom:45px;
}
.prev-indent-bot {
	margin-bottom:10px;
}
.img-indent-bot {
	margin-bottom:25px !important;
}
.margin-bot {
	margin-bottom:35px;
}
.img-indent {
	float:left;
	margin:0 20px 0px 0;
}
.img-indent2 {
	float:left;
	margin:0 30px 0px 0;
}
.img-indent3 {
	float:left;
	margin:0 10px 0px 0;
}
.img-indent-r {
	float:right;
	margin:0 0px 0px 20px;
}
.buttons a:hover {
	cursor:pointer;
}
.menu li a, .list-1 li a, .list-2 li a, .link, .button, h1 a {
	text-decoration:none;
}
/*********************************header*************************************/
header {
	width:100%;
	position:relative;
	z-index:2;
}
h1 {
	padding-top:10px;
	overflow:hidden;
	text-align: center;
}
h1 a {
	display:block;
	font-family: 'Gluthen Bloots';
	font-size:70px;
	padding: 0px 10px;
}

/***** menu *****/
.menu-row {
	width:100%;
	padding:1px 0 5px;
	background:linear-gradient(#0a0a3f, #1b1b68 15%, #0a0a3f);
}
#page1 .menu-row {
	margin-bottom:22px;
}
.menu {
	width:100%;
}
.menu li {
	float:left;
	position:relative;
}
.menu li a {
	display:inline-block;
	height:60px;
	overflow:hidden;
	font-family: 'Josefin Sans';
	font-size:15px;
	font-weight:400;
	line-height:59px;
	padding:0 45px;
	color:#fefce2;
	text-transform:uppercase;
}

.menu li.activeTab a {
	color:#faf380;
}

.menu > li > a:hover {
	color:#faf380;
}

.menu-drop-down {
	display: none;
	position: absolute;
	margin-top: -10px;
	background-color: #1b1b68;
	width: 180px;
	z-index: 1000;
}

.menu li .menu-drop-down a {
    display: block;
	padding: 0 10px;
	color:#fefce2;
}

.menu > li:hover .menu-drop-down {
    display: block;
}

.menu li .menu-drop-down a:hover {
    display: block;
	color:#faf380;
}

/***** slider *****/
.slider-wrapper {
	height:479px;
	padding:16px 0px 5px 0px;
	overflow:hidden;
}
.slider {
	width:681px;
	height:454px;
	margin: auto;
	text-align: center;
}

.pic {
    box-shadow: 0px 0px 30px #fefce2;
	background-size: contain;
}

.items {
	display:none;
}
.pagination {
	display: inline-block;
	padding-top: 15px;
}
.pagination li {
	float:left;
	padding-right:6px;
}
.pagination a {
	display:block;
	width:10px;
	height:10px;
	background:#fefce2;
	border-radius:9px;
	border-style:solid;
	border-color:#fefce2;
	border-width:2px;
	cursor:pointer;
}
.pagination li.current a {
	cursor:default;
}
.pagination li.current a,  .pagination a:hover {
	background:#1b1b68;
}

.date-location-info {
	color: #1b1b68;
	text-align: center;
}

.date-info {
	font-family: 'Gluthen Bloots';
	font-size: 90px;
}

.location-info-line1 {
	font-family: 'Josefin Sans';
	font-size: 35px;
	padding-bottom: 10px;
	margin-top: -20px;
}

.location-info-line-2 {
	font-family: 'Josefin Sans';
	font-size: 25px;
}

/***** coming soon *****/
.coming-soon {
	color: #1b1b68;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	min-width: auto;
}

.coming-soon-title {
	font-family: 'Gluthen Bloots';
	font-size: 120px;
}

.coming-soon-detail {
	font-family: 'Josefin Sans';
	font-size: 35px;
}

/****************************photos************************/

.photos-grid-wrapper {
	text-align: center;
}

.photos-grid {
	padding: 40px;
	display: inline-block;
	text-align: left;
}

.photos-grid-photo-wrapper {
	width: 200px;
	height: 200px;
	display: inline-flex;
	padding: 10px;
}

.photos-grid-photo {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	box-shadow: 0px 0px 10px #fefce2;
	cursor: pointer;
}

.photos-grid-photo:hover {
	box-shadow: 0px 0px 30px #faf380;
}

/****************************wedding************************/

#wedding-main-image {
	width: 100%;
	max-width: 525px;
	margin: 20px;
}

#wedding-details-address-wrapper {
	width: fit-content;
	margin: auto;
	text-decoration: none;
}

#wedding-details-address-link {
	text-decoration: none;
}

#wedding-details-address-link:hover {
	color: #2a2a9c;
}

/****************************footer************************/
footer {
	width:100%;
	padding:38px 0 50px;
}
.footer-text {
	display:block;
	text-align:center;
	padding-right:43px;
}
.footer-text span {
	display:block;
}
