<div class="content-main">
	<div class="main-content-wrapper">
		<h1 class="content-primary-details" id="registry-title">
			Registry
		</h1>
		<div class="content-secondary-details">
			We are registered at Macy's and Amazon.  Follow the links below to find our registry.  Thank you for your thoughfulness.
		</div>
		<div class="registry-items-container">
			<a class="registry-item" href="https://www.macys.com/wgl/registry/guest/7055395" target="_blank">
				<div class="registry-item-content">
					<%= image_tag("registry/macys.gif") =%>
					<div class="view-registry-title">View Registry ></div>
				</div>
			</a>
			<a class="registry-item" href="https://www.amazon.com/wedding/share/samantha-and-chris" target="_blank">
				<div class="registry-item-content">
					<%= image_tag("registry/amazon.gif") =%>
					<div class="view-registry-title">View Registry ></div>
				</div>
			</a>
		</div>
	</div>
</div>