<!doctype html><head>
	<link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen">
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen">
	<link rel="stylesheet" href="stylesheets/grid.css" type="text/css" media="screen">
</head>

<div class="main">
	<h1> <a href="index.html">Samantha Nano & Chris Mathew</a></h1>

<div class="menu-row">
	<div class="main">
  		<div class="container_12">
			<div class="wrapper">
	  			<div class="grid_12">
					<nav>
		  				<ul class="menu">
							<li><a href="index.html">Home</a></li>
							<li>
								<a href="#">Wedding</a>
								<div class="menu-drop-down">
									<a href="wedding.html">The Wedding</a>
									<a href="otherEvents.html">Other Events</a>
								</div>
							</li>
							<li>
								<a href="#">Details</a>
								<div class="menu-drop-down">
									<a href="accommodations.html">Accommodations</a>
									<a href="travel.html">Travel</a>
									<a href="siteSeeing.html">Site Seeing</a>
								</div>
							</li>
							<li><a href="photos.html">Photos</a></li>
							<li><a href="registry.html">Registry</a></li>
							<li><a href="rsvp.html">RSVP</a></li>
		 				</ul>
					</nav>
	  			</div>
			</div>
  		</div>
	</div>
</div>
</div>