<div class="content-main">
	<div class="popup-content-wrapper">
		<div class="content-primary-details">San Francisco by Public Transit</div>
		<div class="content-secondary-details">
			You can access San Francisco from the Pennisula via <a target="_blank" href="http://www.caltrain.com/">Caltrain</a>.  Check the timetable for "Baby Bullet" trains for much faster service due to fewer stops.  You must buy a ticket from the machines on the platform before getting on the train.  There are no ticket sales on board.
			<br/><br/>
			The San Francisco Caltrain station is at the south end of the city, for more central stops, transfer to <a target="_blank" href="https://www.bart.gov/">BART</a> in Millbrae where the two train system share a station.  Once in the city, <a target="_blank" href="https://www.sfmta.com/">MUNI</a> provides light rails and busses to get around.  San Francisco is also well served by Uber and Lyft.
			<br/><br/>
			In in doubt, <a target="_blank" href="https://www.google.com/maps/">Google Maps'</a> transit directions are very acurate for navigating all the Bay Area transit systems.
		</div>
	</div>
</div>